
h1 {
  color: white;
  background-color: rgba(128, 128, 255, 0.4);
  font-size: 80px;
  text-align: center;
  font-family:serif;
  background-color: black;
  padding: 30px;
  border-radius: 12px;
}

.inicial {
  color: rgb(176, 176, 255);
  background-color: rgb(64, 0, 64);
  font-size: 20px;
  font-family:arial;
  font-style: italic;
  text-align: center;
  font-size: 55px;
  padding: 20px;
  border-radius: 12px;
}
body{
  color: black;
  background-color: rgba(0, 0, 160, 0.7);
  font-size: 20px;
  font-family:serif;
  text-align:left;

}

button{
  color: black;
  background-color: rgb(0, 225, 225);
  font-size: 20px;
text-align: center;

}

.botao {
  color: black;
  background-color: rgb(0, 225, 225);
  font-size: 20px;
text-align: center;
display: inline-block;
}
button:hover {
  color:rgb(0, 225, 225);
  background-color: black;
}
.index {
  color: rgb(0, 0, 255);
  background-color: rgba(128, 128, 255, 0.4);
  font-size: 20px;
  font-family:serif;
  font-style: italic;
  text-align:center;

}

.index2 {
  color: white;
  font-family: monospace;
  background-color: black;
  padding: 20px;
  border-radius: 12px;
}

.tema1 {
  color: black;
  font-family: arial;
  font-size: 20px;
  background-color: rgba(255, 191, 191, 0.5);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid white;

}
}
